<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<body>

<h2>Create a New Note</h2>

<div class="create-note">
  <form action="{{ url_for("new_note") }}" method="post">
    <label for="note">Note</label>
    <textarea type="text" id="note" name="new-note" placeholder="I love big boy big"></textarea>

    <label for="auth">Author</label>
    <input type="text" id="auth" name="author" placeholder="big boy big">

    <!-- <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select> -->
  
    <button type="submit">Submit</button>
  </form>
</div>

</body>
</html>